<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>
  <%= f.hidden_field :user_id, :value => @current_user %>
  <%= f.submit(:class => "btn btn-info") %>
<% end %>
