
<div class="form-background">
  <h1><%= @user.email %></h1>


  <div id="new_lodging_form">
    <div id="add_lodging_btn">
      <%= link_to "Add Lodging", new_user_lodging_path(current_user), class: "btn btn-success", id: "add_lodging_btn_a", remote: true %>
    </div>
  </div>

  <div id = "user-bio">
    <% if @user.bio %>
      <blockquote><%= @user.bio %></blockquote>
    <% end %>
  </div>

  <div id="user_lodging_list">

    <h2><%= @user.email %> is Currently Hosting At:</h2>
    <ul>
      <% @user.lodgings.each do |lodging| %>
        <li><%= link_to lodging.name, user_lodging_path(@user, lodging) %> at <%= lodging.location %></li>
      <% end %>
    </ul>
  </div>

  <% if current_user == @user %>
    <h2>Your Vacations!</h2>
    <div id="user_vacations">
      <% @user.bookings.order(:start_date).each do |booking| %>
        <li><%= booking.lodging.location + ", staying at " + booking.lodging.name + " from: " + booking.start_date.to_s + " to " + booking.end_date.to_s %></li>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
