<div class="form-background">
  <h1><%= @lodging.name %> at <%= @lodging.location %></h1>

  <h2>Description</h2>

  <h3>Price: <%= @lodging.cost %></h3>
  <p><blockquote><%= @lodging.marketing_text %></blockquote></p>

  <p><%= link_to "BOOK A ROOM", "http://www.google.com", class: "btn btn-success" %></p>
</div>
