<!DOCTYPE html>
<html>
<head>
  <title>Meatandmead</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render('layouts/navbar') %>
<div id="landing-content">
  <div class="container">
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>
  </div>

  <div class="container">
    <%= yield %>
  </div>
  </div>
</div>

<div class="footer">
  <div class="container form-background">
    <p class="text-muted">All hosts extend and must abide by the ancient tradition of <%= link_to "Guest Right", "/legal" %></p>
  </div>
</div>


</body>

</html>
