<!DOCTYPE html>
<html>
<head>
  <title>Meatandmead</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render('layouts/navbar') %>
<div id="landing-content">
    <section class="slider">
        <!-- <img src="http://xanderbennett.com/wp-content/uploads/2014/05/game-of-thrones-up-net-map-westeros-1214206.jpg"></img> -->


  <div class="container">
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</section>
    </div>
</body>

</html>
